<div class="container_small-card-separator">
  <hr/>
</div>

<div class="container_small-card">
    <div class="container_small-card-content">
      <div class="small-card_photo">
        <img 
        src="{{ cardPhoto1 }}" 
        alt="">
      </div>    
      <div class="small-card_title">
        <h1><a href="/agendamento">{{ cardTitle1 }}</a></h1>
        <div class="small-card_description">
          <p class="description1">{{ cardDescription1 }}</p>   
        </div>
      </div>  
    </div>
  </div>


  <div class="container_small-card">
    <div class="container_small-card-content">
      <div class="small-card_photo">
        <img 
        src="{{ cardPhoto2 }}" 
        alt="">
      </div>    
      <div class="small-card_title">
        <h1><a href="especialidade">{{ cardTitle2 }}</a></h1>
        <div class="small-card_description">
          <p class="description1">{{ cardDescription2 }}</p>   
        </div>
      </div>  
    </div>    
  </div>

  <div class="container_small-card">
    <div class="container_small-card-content">
      <div class="small-card_photo">
        <img 
        src="{{ cardPhoto3 }}" 
        alt="">
      </div>    
      <div class="small-card_title">
        <h1><a href="hospital">{{ cardTitle3 }}</a></h1>
        <div class="small-card_description">
          <p class="description1">{{ cardDescription3 }}</p>   
        </div>
      </div>  
    </div>    
  </div>

  <div class="container_small-card">
    <div class="container_small-card-content">
      <div class="small-card_photo">
        <img 
        src="{{ cardPhoto4 }}" 
        alt="">
      </div>    
      <div class="small-card_title">
        <h1><a href="/profissional">{{ cardTitle4 }}</a></h1>
        <div class="small-card_description">
          <p class="description1">{{ cardDescription4 }}</p>   
        </div>
      </div>  
    </div>    
  </div>

