<header>
    <div class="container_menu-bar">
        <ul>
            <li><a [routerLink] ="['/']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
            <li><span>•</span></li>
            <li><a [routerLink] ="['/beneficiario']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">BENEFICIÁRIO</a></li>
            <li><span>•</span></li>     
            <li><a [routerLink] ="['/configuracoes']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">CONFIGURAÇÕES</a></li>
        </ul>
    </div>
</header>