* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    color: #05071E;
    font-family: 'Segoe UI';
    background-color: #E5ECF4;
  
  }
  
  a {
    text-decoration: none;
  }
  
  h1, h2 {
    margin: auto;
  }
  
  .container-content {
    display: flex;
    justify-content: space-around;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #05071E;
}

.container-content {
  border: 1px solid #000;
  width: 100%;
  height: 100vh;

  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;

}